@import './forum-container/styles.styl'
@import './search/styles.styl'
@import './search/results-search/styles.styl'

.jumbotron_body
  padding: 100px 0 50px !important
  .container
    .lead
      font-size:18px
      margin-top: 5px
      &.highlight
        display: inline-block
        padding: 15px
        background-color: white
        font-family: Raleway;
        color: black
        font-size:16px
        font-weight: 600
        text-shadow: none !important
        max-width: 560px
        line-height: 1.25
      span
        color:$main-color
    .participar
      margin-top: 1rem
      margin: 10px;
      background-color: $main-color;
.ext-site-home-multiforum
  background: transparent

  .forums-list
    display: flex
    flex-direction: column
    flex-wrap: wrap
    padding-top: 1em

    .forums-list-title
      font-size: 35px
      text-align: center
      font-weight: 500
      margin-bottom: 40px
      color: $main-color

    .forums-list-item
      max-width: 100%
      width: 100%
      margin: 0 10px 20px

      @media (min-width: 992px)
        width: 440px

  .cover
    min-height: 500px
    background-position: top
    img
      display: block
    .btn
      display: block;
      margin: 0 auto;
    .lead.block
      display: inline-block
      background-color: $primary-color
      color: white
      text-transform: uppercase
      padding: 10px 15px
      font-size: 20px
      font-family: 'Staatliches', cursive;
    .btn-participa
      color: black
      font-size: 26px
      background-color: transparent
      outline: none !important
      box-shadow: none !important

    h1
      max-width: 500px
      margin: 0 auto .3em

  .arrow-down
    background-size: cover
    background-repeat: no-repeat
    display: inline-block
    margin-top: 0
    margin-right: 3%
    width: 70px
    height: 55px
    margin-bottom:20px
    @media screen and (max-width: 750px)
      width: 40px
      height: 30px
      margin-top:25px

  .lead-paragraph
    margin-top: 1.5em
    text-align: center
    font-size: 20px
    padding-left: 5%;
    padding-right: 5%;
    &.last
      color: $main-color
      font-weight:bold
      flex-direction:column
      justify-content:center

    .bold {
      font-weight: 400
    }

    .skyblue {
      font-weight: 500;
    }
  .arrow
    text-align:center



  .section-icons
    margin-top:20px
    margin-bottom:20px
    @media (max-width: 760px)
      margin-left:6%
    @media (max-width: 460px)
      margin-left:10px
    .section-icon
      display: inline-block
      text-align: center
      padding: 0 35px
      @media (max-width: 760px)
        display:flex
        flex-direction:column
      .icon
        width:100px
        display: inline-block
      .text
        text-align: left
        h5
          font-size: 22px
          color: $main-color
          font-weight: 400
        p
          font-size: 14px
          line-height: 1.25

  .icon-arrow-down
    font-size: 20px
    color: $main-color
    cursor: pointer

  .content-center
    display: flex;
    align-self: center;

    .btn
    .dropdown-element
    .dropbtn
      font-family: 'Staatliches', cursive;
      min-width: 200px;
      padding: 8px 0;
      font-size: 16px;
      margin: 0 15px;

    .btn-secondary
      background-color: #fff
      color: $main-color-resalted
      border: 1px solid $main-color-resalted
      box-shadow: none

    .btn-active
      background-color: $main-color
      border: 1px solid $main-color
      box-shadow: none
      color: white
      &:focus
        outline: none

.dropbtn
  width:150px
  font-size:16px !important
  @media (min-width: 701px)
    display:none

.dropdown-element:hover .dropdown-content
  @media (max-width: 700px)
    display: block

.dropdown-content
  @media (max-width: 700px)
    li
      display:block
      margin-bottom:0

.dropdown-content
  @media (max-width: 700px)
    display: none
    position: absolute
    z-index: 1
    left: -14px
    top: 36px

.dropdown-element
  @media (max-width: 700px)
    position: relative
    display: inline-block

.small-arrow
  font-size:9px !important

.show-more
  height: 50px



